html {
    font-size: 16px;
}
#closeButton {
    font-family: 'WebSymbolsRegular'; 
    font-weight: normal; 
    font-style: normal;
    font-size: 2rem;
    color: #575757;
    float: right;
    background: none;
    border-style: none;
    padding: 1vh;
    text-decoration: none;
}

#closeButton:hover,
#closeButton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    text-align: center;
}

#optionsFormWrapper {
    margin: 0 auto;
    width: 50%;
    min-width: 300px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.settingsInput {
    width: 90%;
    padding: 1vh;
    margin: 1vh;
}

.button {
    width: 95%;
    padding: 1vh 2vh;
    margin: .5vh 1vh;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 2vh;
}

.button:hover {
    background-color: #45a049;
}