body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    top: 0;
    width: 100%;
    margin-bottom: 2vh;
}

button:hover {
    cursor: pointer;
}

#settingsButton {
    font-weight: normal; 
    font-size: 4.25vh;
    color: rgb(218, 218, 218);
    position: relative;
    float:left;
    background: none;
    border-style: none;
    padding: 1vh;
    text-decoration: none;
}

#settingsButton:hover {
    background: #ddd;
    color: black;
}

.title {
    text-align: center;
    font-size: 4vh;
    color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2rem; /* To ofset the settingsButton, keeping title centered */
}

#charityBoxPage {
    margin: auto;
    height: 95vh;
    width: 50vh;
    background-color: white;
}

  /* Center value buttons with flexbox */
.valueButtonsWrapper {
    padding-bottom: 1vh;
    clear:both;
}

  /* Center value buttons with flexbox */
.flex-container {
    display: flex;
    justify-content: center;
  }

.coin {
    margin-left: 4vh;
    margin-right: 4vh;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    border: .5vh solid #A9A9A9;
    background: #C0C0C0;
    font-size: 3vh;
    color: #707070;
}

.coin:hover {
    transform: translateY(4px);
}

.bill {
    margin-left: 1vh;
    margin-right: 1vh;
    height: 6vh;
    width: 14vh;
    border: .5vh solid #dedeb9;
    background: #73886b;
    font-size: 3vh;
    color: #dedeb9;
}

.bill:hover {
    transform: translateY(4px);
}

.giveCoin {
    margin-left: 4vh;
    margin-right: 4vh;
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    border: .5vh solid #A9A9A9;
    background: #C0C0C0;
    font-size: 3vh;
    color: #707070;
}

/* Give Button */
#giveAmountWrapper {
    margin: 0 auto;
    width: 25vh;
    border-style: inset;
    border-color: #ccc;
    font-size: 3vh;
}
#giveAmount {
    border-style: none;
    font-size: 3vh;
    width: 60%;
}
#giveButtonWrapper {
    text-align: center;
}

#giveButton {
    position: relative;
    top: 3vh;
    height: 10vh;
    width: 10vh;
    z-index: 0;
    color: #555555;
    padding-bottom: 1em;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

#charityBoxWrapper {
    text-align: center;
    position: relative;
    z-index: 1;
}

/* Drawing Charity Box */
.boxRectange {
    width: 25vh;
    margin: 0 auto;
    background-color: #604020;
    position: relative;
    display: flex;
    justify-content: center;
  }

.boxRectange:before{
    content: "";
    display: block;
    padding-top: 150%;
}
#boxTop {
    position: absolute;
    top: 0;
    height: 0;
    width: 130%;
    padding-bottom: 10%;
    background-color: black;
    border-radius: 12%;
}

#boxValue {
    position: absolute;
    top: 10%;
    height: 0;
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 5vh;
}

#boxName {
    position: absolute;
    top: 40%;
    width: 80%;
    justify-content: center;
    color: silver;
    font-size: 8vh;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#boxBottom {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 130%;
    padding-bottom: 10%;
    background-color: black;
    border-radius: 12%;
}

/* Donate button */
#donateButtonWrapper {
    padding-top: .5vh;
    text-align: center;
}

.donateButton {
    background-color: #ffc438; /* Gold */
    color: black;
    border: none;
    padding: 1vh 2vh;
    font-size: 4vh;
    width: 40vh;
}

.donateButton:hover {
    background-color: #eba500; /* Gray Gold */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top of charityBoxWrapper */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}

/* Modal Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.closeButton {
    color: white;
    float: right;
    font-size: 4vh;
    font-weight: bold;
}

.closeButton:hover,
.closeButton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: .5rem 1rem;
    background-color: #5cb85c;
    color: white;
    text-align: center;
    margin-bottom: .5rem;
}

.modal-header h2 {
    font-size: 4vh;
    margin: 0;
}

#settingsInfoWrapper {
    border-style: solid;
    border-width: 1px;
    padding: 1vh;
    margin: 1.5vh 3vh;
}

#infoHeader {
    font-weight: bold;
    padding: 1vh;
}

.settingsInfo {
    font-size: 2vh;
    text-align: left;
    padding-left: 2vh;
}

.settingsLabel {
    float: left;
    margin-left: 1rem;
}

.settingsInput {
    width: 90%;
    padding: 1vh;
    margin: 1vh;
}

.settingsButton {
    width: 70%;
    padding: 1vh 2vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 2vh;
}

.settingsButton:hover {
    background-color: #3e8e41;
}

#fullAmountInput {
   max-width: 10rem;
   float: left;
   margin-left: 1rem;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */ 
    width: 30vh; 
    margin: auto; 
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    font-size: 2.5vh;
    text-align: center; /* Centered text */
    border-radius: 30px; /* Rounded borders */
    padding: 2vh; /* Padding */
    z-index: 1; /* Add a z-index if needed */
    position: absolute;
    left: 0; right: 0; /* Center the snackbar */
    bottom: 15vh; /* distance from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 15vh; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 15vh; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 15vh; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 15vh; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}